.about {
  display: flex;
  flex-direction: column;

  &__collapses {
    width: 100%;
    max-width: 1023px;  
    margin: 40px auto;  
    display: flex;
    flex-direction: column;
    gap: 20px;          
  }

&__banner {
    .banner__overlay {
      opacity: 0.3;
    }
  }

@media (max-width: 768px) {
&__collapses {
      margin: 20px auto;
      gap: 20px;
    }
  }
}

.banner {
  margin-bottom: 0;
}