.home {
display: flex;
  flex-direction: column;
  gap: 43px;

  &__gallery {
    background: #f6f6f6;
    border-radius: 25px;
    padding: 56px 50px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
  }
}

/* TABLETTE : 2 colonnes */
@media (max-width: 1023px) {
.home {
    &__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background: transparent;
    padding: 0 ;
    }
  }
}

/* MOBILE : 1 colonne */
@media (max-width: 767px) {
  .home {
    &__gallery {
    grid-template-columns: 1fr;
    gap: 20px;

    background: transparent;
    padding: 0 s;
    }
  }
}