.rating {
  display: flex;
  gap: 15px;

  &__star {
    width: 24px;
    height: 24px;

    &.full {
      color: #ff6060;
      }

    &.empty {
      color: #e3e3e3;
      }
  }

@media (max-width: 768px) {
  &__star {
    width: 18px;
    height: 18px;
    }
  }
}