.footer {
background-color: #000;
height: 209px;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 66px;

&__logo {
width: 122px;
filter: brightness(0) invert(1); // logo blanc //
margin-bottom: 20px;
}

&__text {
color: #fff;
font-size: 24px;
  }
}

@media (max-width: 767px) {
.footer {
gap: 0;

&__text {
text-align: center;  
font-size: 14px;     
max-width: 180px;
padding: 0 20px;    
}

&__logo {
width: 130px;       
}
}
}