.rating {
  display: flex;
  gap: 15px;
}

.rating__star {
  width: 24px;
  height: 24px;
}

.rating__star.full {
  color: #ff6060;
}

.rating__star.empty {
  color: #e3e3e3;
}

@media (max-width: 768px) {
  .rating__star {
    width: 18px;
    height: 18px;
  }
}