*,
*::before,
*::after {
box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; 
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout > main {
  flex: 1;
}


/* @media (max-width: 768px) {
.layout {
    min-height: auto;     
  }

  .layout > main {
    flex: unset;
  }
} */